<!--<div *ngIf="mostrarMensaje" class="row justify-content-around">
    <div class="col-md-5">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Etudiante creado correctamente
            <button type="button" (click)="desactivarMensaje()" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>-->
<div *ngIf="mostrarMensajeError" class="row justify-content-around">
    <div class="col-md-5">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{mensajeError}}
            <button type="button" (click)="desactivarMensaje()" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <section class="rounded shadow-lg border-0 my-5 highlight-clean" style="background: url('assets/img/checklist.jpg')no-repeat center center;background-size: cover;">
                <div class="container col-md-12">
                    <div class="col-md-5">
                        <h2 class="text-center" style="color: white;">Registro de Cursos Aprobados</h2>
                        <p class="text-center" style="color: black;">Seleccione un estudiante para registrar un curso aprobado</p>
                    </div>
                    <div class="buttons">
                        <div class="col-md-5">
                            <div class="dropdown"><button class="col-md-10 btn btn-primary dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button">Estudiante&nbsp;</button>
                                <div class="dropdown-menu" >
                                    <a *ngFor="let lista of lista_estudiantes" class="dropdown-item" (click)="mostrarCursos(lista)" >{{lista}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <hr>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="rounded shadow-lg border-0 my-5" role="tablist" id="accordion-1">
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-1" href="#accordion-1 .item-1">Agregar nuevo curso</a></h5>
                    </div>
                    <div class="collapse show item-1" role="tabpanel" data-parent="#accordion-1">
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2" href="#accordion-1 .item-2">Cursos Aprobados</a></h5>
                    </div>
                    <div class="collapse item-2" role="tabpanel" data-parent="#accordion-1">
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead class="table-primary">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Curso</th>
                                        <th scope="col">Nota</th>
                                        <th scope="col">Año</th>
                                    </tr>
                                </thead> 
                                <tbody *ngIf="estudiante" >
                                    <tr *ngFor="let listaE of estudiante.listaCursos;let indice=index">
                                        <th scope="row">{{indice+1}}</th>
                                        <td>{{listaE.curso}}</td>
                                        <td>{{listaE.nota}}</td>
                                        <td>{{listaE.anio}}</td>
                                    </tr>
                                </tbody>   
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>